@import "variables";

body {
  min-width: 320px;
  max-width: 960px;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  color: $text-color-base;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a:active,
a:hover {
  outline: 0;
}

.container {
  //width: 280px;
  width: 87.5%;
  padding: 0;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px 0;
  z-index: 9999;
  background-color: rgba(0,0,0,.3);
}

//logo в svg
.logo {
  display: block;
  width: 74px;
  height: 22px;
  background-image: url(../img/logotype-white-mobile.svg);
}

.nav-btn, .nav-close {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 4;
  width: 50px;
  height: 25px;
  text-indent: 3000px;
}

//иконка меню в svg
.main-menu {
  display: inline-block;
  width: 50px;
  height: 25px;
}

.nav-close {
  display: none;
  z-index: 3;
}

.main-nav:target + .nav-close {
  display: block;
  z-index: 5;
}

.main-nav {
  position: absolute;
  display: block;
  width: 100%;
  height: 0px;
  max-height: 0px;
  padding-top: 0px;
  opacity: 0;
  transition: none;
}

.main-nav ul {
  display: none;
  margin: 0;
}

.main-nav a {
  display: block;
  padding: 0;
  width: 0;
  height: 0;
}

.main-nav:target {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
}
.main-nav:target ul {
  display: block;
}
.main-nav:target .main-nav__element {
    display: block;
  }
.main-nav:target .main-nav__element a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 20px 0;
  font-size: $font-size18;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #283645;
  border-bottom: 1px solid black;
  border-top: 1px solid #485460;
}

.main-nav:target + .main-header {
  background-color: #283645;
}

.intro {
  position: relative;
  padding-top: 95px;
  background-image: url("../img/background-mobile@1x.jpg");
  background-position: top;
  &__slogan {
    font-size: 24px;
    line-height: $line-height30;
    font-weight: 300;
    color: $promo-text-color;
    text-align: center;
  }
  &__slogan--inner {
    padding-bottom: 57px;
  }
}

.main-footer {
  padding-bottom: 45px;
}

.main-footer--index {
  display: none;
}

.logo-pink {
  position: relative;
  display: inline-block;
  width: 142px;
  height: 40px;
  margin-bottom: 40px;
  left: 50%;
  margin-left: -71px;
  background-image: url(../img/logotype-blue-tablet.svg);
  background-repeat: no-repeat;
}

.social {
  margin-bottom: 40px;
  font-size: 0;
  text-align: center;
  &__btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    width: 45px;
    height: 45px;
    border: 3px solid #e5e5e5;
    border-radius: 50%;
  }
  &__btn-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #d22856;
  }
  &__btn-img--twitter {
    width: 17px;
    height: 14px;
  }
  &__btn-img--facebook {
    width: 9px;
    height: 19px;
  }
  &__btn-img--youtube {
    width: 15px;
    height: 15px;
  }
}

.developed-by {
  position: relative;
  text-align: center;
  padding-right: 18.6%;
  &__logo {
    position: absolute;
    right: 27.86%;
    top: -4px;
    width: 27px;
    height: 34px;
    fill: #d22856;
  }
}

.map img {
  display: block;
}


@media (min-width: 700px) {
  .container {
    width: 88.57%;
    padding: 0 5.7%;
    margin: 0 auto;
  }

  .main-header {
    padding: 34px 0;
  }

  .logo {
    width: 145px;
    height: 40px;
    background-image: url(../img/logotype-white-tablet.svg);
  }

  .main-nav:target {
    top: 100px;
  }

  .inner .intro {
    padding-top: 185px;
  }

  .intro__slogan--inner {
    padding-bottom: 85px;
    width: 80.5%;
    margin: 0 auto;
    font-size: 50px;
    line-height: 55px;
  }

  .main-footer {
    .container::after {
      @include clearfix;
    }
    padding-top: 36px;
    padding-bottom: 35px;
  }

  .logo-pink {
    float: left;
    width: 26%;
    left: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 9.5%;
  }

  .main-footer--index {
    display: block;
  }

  .social {
    float: left;
    width: 29%;
    margin-bottom: 0;
    margin-right: 9.5%;
    &__btn {
      margin-right: 8px;
    }
  }

  .developed-by {
    float: left;
    width: 26%;
    padding-right: 0;
    padding-top: 13px;
    &__logo {
      right: 0;
      top: 10px;
    }
  }

}

@media (min-width: 960px) {

  .container {
    width: 97.9%;
    padding: 0 1%;
    margin: 0 auto;
  }

  .main-header {
    padding: 42px 0;
  }

  .nav-btn, .nav-close {
    display: none;
  }

  .main-nav {
    display: block;
  }

  .logo {
    background-image: url(../img/logotype-blue-desktop.svg);
  }

  .intro {
    background-image: url("../img/background-fullsize.jpg");
    background-position: top;
  }

  .developed-by {
    width: 21%;
    padding-right: 42px;
    text-align: right;
  }


}
