@import "variables";

body {
  //width: 320px;
  width: 700px;
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-base;
  color: $text-color-base;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  //width: 280px;
  width: 87.5%;
  padding: 0;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

.main-header {
  position: fixed;
  top: 0;
  padding: 20px 0;
  z-index: 9999;
  background-color: rgba(0,0,0,.3);
}

.main-header .container::after {
  @include clearfix;
}

.logo {
  float: left;
}

.main-menu {
  float: right;
  display: block;
  //width: 50px;
  width: 15.6%;
  //height: 25px;
  height: 7.8%;
  text-indent: 3000px;
  //background: url("../img/icon-header_menu.png") no-repeat;
  background-color: #fff;
}

.main-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  &__element {
    position: relative;
    display: block;
    a{
      display: block;
      padding: 20px 0;
      font-size: 18px;
      line-height: 32px;
      font-weight: 600;
      text-align: center;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #283645;
      border-bottom: 1px solid black;
      border-top: 1px solid #485460;
    }
  }
  &__element:first-child{
    display: block;
    padding: 20px 0 10px 0;
    background-color: #283645;
    border-bottom: 1px solid black;
    img {
      margin-left: 20px;
    }
  }
  &__element:first-child::after{
    content: " ";
    display: table;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 18px;
    bottom: 20px;
    background-color: #0b97c4;
    cursor: pointer;
  }
}

.intro {
  padding-top: 95px;
  min-height: 140px;
  background: url("../img/background-mobile@1x.jpg") no-repeat;
  &__slogan {
    font-size: 24px;
    line-height: $line-height30;
    font-weight: 300;
    color: $promo-text-color;
    text-align: center;
  }
}

.inner-footer {
  padding-bottom: 45px;
}

.logo-var2 {
  margin-bottom: 40px;
  a {
    display: block;
    text-align: center;
  }
}

.social {
  margin-bottom: 40px;
  font-size: 0;
  text-align: center;
  &__btn {
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    width: 45px;
    height: 45px;
    border: 3px solid #e5e5e5;
    border-radius: 50%;
  }
}

.developed-by {

}


@media (min-width: 620px) {
  .container {
    width: 88.57%;
    padding: 0 5.7%;
    margin: 0 auto;
  }

  .main-header {
    padding: 34px 0;
  }

}
