@import "variables";

.personal-data {
  padding-top: 46px;
  padding-bottom: 20px;
  &--bg {
    background-color: $first-bg;
  }
  &__text {
    margin-bottom: 44px;
    text-align: center;
    font-size: $font-size-base;
    line-height: $line-height30;
  }
  label {
    padding-left: 22px;
    margin-bottom: 7px;
    line-height: $line-height30;
    color: $text-color-red;
    text-transform: uppercase;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    padding: 17px 0 17px 22px;
    margin-bottom: 17px;
    font-size: $font-size18;
    border: $form-grey-border;
  }
}

.what-app {
  padding: 38px 0 5px 0;
  &__title {
    @include form-block-title;
    margin-bottom: 38px;
  }
  &--bg {
    background-color: $second-bg;
  }
  input[type="radio"] {
    display: none;
  }
  label {
    display: block;
    margin-bottom: 35px;
    position: relative;
    padding: 12px 0 12px 60px;
    font-size: $font-size18;
    cursor: pointer;
  }
  label::before {
    content: " ";
    position: absolute;
    left: 0;
    width: 38px;
    height: 38px;
    background-color: $text-color-red;
  }
}

.traveling-time {
  padding: 44px 0 42px 0;
  font-size: 0;
  &__title {
    @include form-block-title;
    margin-bottom: 36px;
  }
  &--bg {
    background-color: $first-bg;
  }
  input {
    margin-bottom: 12px;
    padding: 16px 0 16px 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: $font-size18;
    border: $form-grey-border;
  }
  label {
    display: block;
    @include form-block-title;
    margin-bottom: 20px;
  }
  input[type="text"] {
    display: inline-block;
    vertical-align: top;
    padding: 19px 0;
    width: 156px;
    text-align: center;
  }
  &__add, &__remove {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 58px;
    min-height: 62px;
    border: $form-grey-border;
    font-size: $font-size18;
    cursor: pointer;
  }
  &__add {
    border-left: none;
  }
  &__remove {
    border-right: none;
  }
  &__remove::before {
    @include remove-before;
  }
  &__add::before {
    @include add-before;
  }
  &__add::after {
    @include add-after;
  }
}

.fellow-travelers {
  position: relative;
  padding-top: 31px;
  font-size: 0;
  &::before {
    content: " ";
    position: absolute;
    top: 200px;
    left: 20px;
    height: 2px;
    width: 280px;
    background-color: #e5e5e5;
  }
  &__title {
    @include form-block-title;
    margin-bottom: 30px;
  }
  &--bg {
    background-color: $second-bg;
  }
  input[type="number"] {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 19px 0;
    margin-bottom: 48px;
    width: 156px;
    text-align: center;
    font-size: $font-size18;
    border: $form-grey-border;
    background-color: $second-bg;
  }
  &__add, &__remove {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 58px;
    min-height: 62px;
    border: $form-grey-border;
    font-size: $font-size18;
    cursor: pointer;
    background-color: #ffffff;
  }
  &__add {
    border-left: none;
  }
  &__remove {
    border-right: none;
  }
  &__remove::before {
    @include remove-before;
  }
  &__add::before {
    @include add-before;
  }
  &__add::after {
    @include add-after;
  }
}

.traveler {
  padding: 30px 0;
  label{
    position: relative;
    display: block;
    padding-left: 85px;
    padding-bottom: 15px;
    font-size: $font-size-base;
    color: $text-color-red;
    text-transform: uppercase;
  }
  label:first-of-type::before {
    content: "№";
    position: absolute;
    left: 25px;
    font-size: $font-size-base;
    color: $text-color-red;
    text-transform: uppercase;
  }
  input {
    display: inline-block;
    vertical-align: top;
    padding: 17px 0 17px 22px;
    margin-bottom: 18px;
    font-size: $font-size18;
    border: $form-grey-border;
    background-color: $first-bg;
  }
  input:last-of-type {
    margin-left: 60px;
  }
  &__number {
    display: inline-block;
    vertical-align: top;
    padding: 23px 0;
    width: 58px;
    height: 12px;
    line-height: 12px;
    font-size: $font-size18;
    text-align: center;
    border: $form-grey-border;
    border-right: none;
  }
}

.travel-achievements {
  padding-top: 48px;
  padding-bottom: 3px;
  &--bg {
    background-color: $first-bg;
  }
  &__title {
    @include form-block-title;
    margin-bottom: 40px;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]+label {
    position: relative;
    display: block;
    margin-bottom: 43px;
    padding: 10px 0 10px 60px;
    font-size: $font-size18;
    cursor: pointer;
  }
  input[type="checkbox"]+label::before {
    content: " ";
    position: absolute;
    width: 35px;
    height: 35px;
    left: 0;
    top: 3px;
    border: $form-grey-border;
  }
}

.download-photos {
  position: relative;
  padding-top: 38px;
  &--bg {
    background-color: $second-bg;
  }
  &::before {
    content: " ";
    position: absolute;
    top: 150px;
    left: 20px;
    height: 2px;
    width: 280px;
    background-color: #e5e5e5;
  }
  &__title {
    @include form-block-title;
    margin-bottom: 36px;
  }
  input[type="file"] {
    margin-bottom: 50px;
  }
  &__wrapper-photos {
    font-size: 0;
    margin-right: -39px;
  }
  &__small-photo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 39px;
  }
  &__small-photo::before {
    content: " ";
    position: absolute;
    right: -13px;
    top: -13px;
    width: 28px;
    height: 28px;
    border: $form-grey-border;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;

  }
  &__photo-name {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
}

.form-btn {
  padding-top: 50px;
  padding-bottom: 57px;
  &--bg {
    background-color: $first-bg;
  }
  button[type="submit"] {
    width: 100%;
    margin-bottom: 36px;
    padding: 19px 0;
    text-align: center;
    font-size: $font-size18;
    text-transform: uppercase;
    background-color: $color-green;
    color: #ffffff;
    border-radius: 5px;
    border: none;

  }
  &__text-under {
    text-align: center;
    text-transform: uppercase;
    span {
      color: $text-color-red;
    }
  }
}



