@import "variables";

.index-main .intro::after {
  content: " ";
  position: absolute;
  bottom: 300px;
  width: 259px;
  height: 287px;
  background-image: url(../img/iphone-hand-mobile.png);
}

.download-app {
  position: relative;
  z-index: 20;
  margin-top: 320px;
  padding: 30px 20px 35px 20px;
  font-weight: 300;
  text-align: center;
  color: $promo-text-color;
  &--bg{
    background-color: #1d2631;
  }
  &__btn{
    display: block;
    //padding: 15px 37px;
    padding: 15px 11.5%;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: $font-size18;
    font-weight: 600;
    border: 3px solid #ffffff;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
  }
  &__platform {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    //margin-right: 35px;
    margin-right: 10.9%;
    width: 46px;
    height: 57px;
    &--last{
      margin-right: 0;
    }
  }
  &__text{
    margin-top: 25px;
  }
}

.promo-questions{
  padding-bottom: 20px;
  padding-top: 45px;
  text-align: center;
  font-size: $font-size24;
  &--bg{
    background-color: $first-bg;
  }
  &__text{
    margin-bottom: 45px;
    font-weight: 300;
  }
}

.app-description {
  position: relative;
  padding-top: 50px;
  padding-bottom: 300px;
  &--bg {
    background-color: $second-bg;
  }
  &::before {
    content: " ";
    display: table;
    position: absolute;
    top: -21px;
    width: 100%;
    height: 45px;
    background-color: $second-bg;
    transform: skewY(-5deg);
  }
  &::after {
    content: " ";
    position: absolute;
    width: 158px;
    height: 278px;
    background-image: url(../img/screen-mobile-3.png);
    bottom: 0;
    left: 50%;
    margin-left: -79px;
  }
}


.description-item{
  margin-bottom: 40px;
  //margin-bottom: 14.29%;
  text-align: center;
  &__title{
    margin-bottom: 20px;
    //margin-bottom: 7.14%;
    font-size: $font-size18;
    font-weight: 600;
  }
  &__text{
    font-size: $font-size-base;
    color: $text-color-base;
  }
}

.app-effect {
     display: none;
   }

.comments-slider {
  position: relative;
  padding-top: 45px;
  padding-bottom: 115px;
  &--bg{
    background-color: $first-bg;
  }
  input[type="radio"]{
    position: absolute;
    opacity: 0;
  }
  &__controls{
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 70px;
    width: 100px;
    height: 15px;
    text-align: center;
    z-index: 100;
    label{
      display: inline-block;
      vertical-align: top;
      width: 6px;
      height: 6px;
      margin: 0 8px;
      background-color: #bec2c7;
      border: 2px solid #ffffff;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &__slide{
    text-align: center;
  }
  &__slide-title--desc {
    display: none;
  }
  &__slide-title--mob {
    display: block;
    div {
      display: none;
    }
  }
  &__slide-title{
    margin-bottom: 16px;
    font-size: $font-size18;
    line-height: $line-height30;
    font-weight: 600;
    span {
      display: none;
    }
  }
  &__slide-text{
    font-size: $font-size-base;
    color: $text-color-base;
    line-height: $line-height30;
  }
}

#btn-01:checked~ .comments-slider__controls label[for="btn-01"],
#btn-02:checked~ .comments-slider__controls label[for="btn-02"],
#btn-03:checked~ .comments-slider__controls label[for="btn-03"] {
  background-color: #ffffff;
  border-color: #283645;
}

.packages-slider{
  position: relative;
  padding-top: 65px;
  padding-bottom: 100px;
  &::before {
    content: " ";
    display: table;
    position: absolute;
    top: -21px;
    width: 100%;
    height: 45px;
    background-color: $second-bg;
    transform: skewY(-5deg);
  }
  &--bg{
    background-color: $second-bg;
  }
  input[type="radio"]{
    position: absolute;
    display: none;
  }
  &__controls{
    content: " ";
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 45px;
    width: 100px;
    height: 15px;
    text-align: center;
    z-index: 100;
    label{
      display: inline-block;
      vertical-align: top;
      width: 6px;
      height: 6px;
      margin: 0 8px;
      background-color: #bec2c7;
      border: 3px solid #f2f2f2;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &__inner {
    overflow: hidden;
  }
  &__slides {
    position: relative;
    width: 300%;
    transition: transform .8s ease;
    ul {
      position: relative;
      float: left;
      //width: 276px;
      width: 28.75%;
      overflow: hidden;
      border-right: $form-grey-border;
      //box-shadow: inset 0px 0px 0px 2px #ABABAB;
    }
    ul:first-child {
      display: none;
    }
    ul:nth-child(2) {
      border-left: $form-grey-border;
    }
    ul:nth-child(3)::before {
      content: "Хит";
      display: table;
      position: absolute;
      top: 8px;
      left: -24px;
      width: 100px;
      height: 20px;
      font-size: $font-size-base;
      color: #ffffff;
      text-align: center;
      background-color: #d22856;
      transform: rotate(-42deg);
      transform-origin: 50% 50%;
      z-index: 50;
    }
    ul li{
      position: relative;
      padding: 22px 50px 22px 22px;
      //padding: 7.97% 18.1% 7.97% 7.97%;
      font-size: $font-size-base;
      line-height: $line-height30;
      text-transform: uppercase;
      background-color: #ffffff;
      border-bottom: 2px solid #e5e5e5;
    }
    ul li::after{
      content: " ";
      display: table;
      position: absolute;
      width: 35px;
      height: 35px;
      right: 10px;
      bottom: 15px;
      background-color: #0b97c4;
    }
    ul li:first-child{
      text-align: center;
      padding: 22px 0;
      //padding: 7.97% 0;
      font-size: $font-size18;
      font-weight: 600;
      line-height: $line-height30;
      color: #ffffff;
      text-transform: uppercase;
      background-color: $text-color-base;
      border-bottom: none;
    }
    ul li:first-child::after{
      display: none;
    }
  }
  &__price {
    display: inline;
    font-size: $font-size24;
    font-weight: 300;
    line-height: $line-height30;
  }
}

#btn-1:checked~ .packages-slider__controls label[for="btn-1"],
#btn-2:checked~ .packages-slider__controls label[for="btn-2"],
#btn-3:checked~ .packages-slider__controls label[for="btn-3"] {
  background-color: #ffffff;
  border-color: #283645;
}

#btn-1:checked~ .packages-slider__inner .packages-slider__slides {
  //transform: translate(20px);
  transform: translate(2.08%);
}

#btn-2:checked~ .packages-slider__inner .packages-slider__slides {
  //transform: translate(-260px);
  transform: translate(-27.08%);
}

#btn-3:checked~ .packages-slider__inner .packages-slider__slides {
  //transform: translate(-540px);
  transform: translate(-56.25%);
}

.contacts {
  position: relative;
  padding: 40px 0;
  text-align: center;
  &::after {
    content: " ";
    position: absolute;
    background-image: url(../img/triangle-white-footer.svg);
    width: 100%;
    height: 60px;
    left: 0;
    bottom: -14%;
    z-index: 200;
    background-repeat: no-repeat;
  }
  &__promo{
    margin-bottom: 40px;
    font-size: $font-size24;
    font-weight: 300;
  }
  &__title{
    font-size: $font-size18;
    font-weight: 600;
  }
  &__contact{
    display: block;
    margin-bottom: 27px;
    font-size: $font-size24;
    font-weight: 300;
    color: #d22856;
    text-decoration: none;
  }
  &--bg{
    background-color: $first-bg;
  }
}

.map {
  width: 100%;
  height: 35.21vh;
  background-image: url("../img/map.jpg");
  background-size: cover;
}


@media (min-width: 700px) {

  .index-main .intro::after {
    bottom: 0;
    right: 0;
    width: 700px;
    height: 545px;
    background-image: url(../img/iphone-hand-tablet@1x.png);
  }

  .intro {
    background-image: url(../img/background-tablet@1x.jpg);
    background-position: top;
    &__slogan--index {
      width: 31.03%;
      margin-top: 100px;
      margin-left: 9%;
      margin-bottom: 37px;
      font-size: 40px;
      line-height: initial;
    }
  }

  .download-app {
    width: 43%;
    margin-top: 0;
    padding-left: 5.7%;
    padding-bottom: 100px;
    &--bg {
      background-color: transparent;
    }
  }

  .promo-questions {
    padding-bottom: 105px;
    font-size: 40px;
    &__text {
      margin-bottom: 26px;
    }
    &__text:last-child {
      width: 54.84%;
      margin: 0 auto;
      line-height: 40px;
    }
  }

  .app-description {
    padding-top: 25px;
    padding-bottom: 0.1%;
    &::before {
      top: -6.5625%;
      height: 77px;
    }
    &::after {
      margin-left: 0;
      bottom: 0;
      left: 40px;
      width: 268px;
      height: 481px;
      background-image: url(../img/iphone-screen-tablet-3@1x.png);
    }
    &--bg {
      background-image: none;
    }
  }

  .description-item {
    position: relative;
    width: 51.61%;
    margin-bottom: 36px;
    padding-left: 48.387%;
    text-align: left;
    z-index: 100;
    &__title {
      margin-bottom: 10px;
    }
  }

  .app-effect {
    display: block;
    margin-bottom: 72px;
    &::after {
      @include clearfix;
    }
    &__title {
      padding-top: 41px;
      margin-bottom: 16px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 600;
    }
    &__text {
      margin-bottom: 4px;
    }
    &__link {
      color: $text-color-red;
      text-decoration: underline;
    }
  }

  //картинка часов
  .watch {
    float: left;
    width: 298.001px;
    height: 345.097px;
    margin-right: 6.129%;
  }

  .comments-slider {
    padding-top: 56px;
    padding-bottom: 120px;
    &__slide-title--desc {
      display: block;
    }
    &__slide-title--mob {
      display: none;
    }
    &__slide-title {
      margin-bottom: 0;
    }
    &__slide-title div{
      font-size: $font-size-base;
      font-weight: 400;
    }
    &__slide-text {
      margin-bottom: 35px;
      font-size: $font-size18;
    }
  }

  .packages-slider {
    padding: 37px 0 68px 0;
    &::before {
      height: 77px;
      top: -7.5625%;
      left: 0;
    }
    &__inner {
      width: 88.57%;
      padding: 0 5.7%;
      margin: 0 auto;
    }
    &__text {
      display: none;
    }
    &__controls {
      display: none;
    }
    &__slides::after {
      @include clearfix;
    }
    &__slides {
      width: 100%;
      ul {
        width: 24%;
      }
      ul li {
        width: 100%;
        padding: 0;
        height: 45px;
        line-height: 45px;
        font-size: $font-size-base;
        text-transform: none;
      }
      ul li::after {
        left: 50%;
        bottom: 5px;
        margin-left: -15px;
      }
      ul:first-of-type li::after {
        display: none;
      }
      ul:first-of-type {
        display: block;
        border-right: none;
        li:first-child {
          background-color: $second-bg;
          border-left: none;
          border-bottom: 2px solid #e5e5e5;
        }
        li {
          width: 90%;
          padding-left: 15px;
          border-left: 2px solid #e5e5e5;
        }
      }
      ul li:first-child {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 25px;
        font-size: 16px;
        border-bottom: 2px solid $text-color-base;
      }
      ul:nth-child(2)::before {
        display: none;
      }
      ul:nth-child(3)::before {
        content: "Хит";
        display: table;
        position: absolute;
        top: 8px;
        left: -24px;
        width: 100px;
        height: 20px;
        font-size: $font-size-base;
        color: #ffffff;
        text-align: center;
        background-color: #d22856;
        transform: rotate(-42deg);
        transform-origin: 50% 50%;
        z-index: 50;
      }
    }
    ul li &__price {
      display: block;
      font-size: $font-size18;
    }

  }

  #btn-2:checked~ .packages-slider__inner .packages-slider__slides {
    //transform: translate(-260px);
    transform: translate(0);
  }

  .contacts {
    .container {
      text-align: center;
    }
    &__inner {
      display: inline-block;
    }
    &__inner:last-of-type {
      display: block;
    }
    &__inner:first-of-type {
      margin-right: 10%;
    }
    &::after {
      height: 65px;
      bottom: -20%;
    }
  }

  .map img {
    width: 700px;
    height: 378px;
  }


}
