$font-family-base: Open Sans, Arial, Tahoma, Verdana, san-serif;
$font-size-base: 14px;
$font-size18: 18px;
$font-size24: 24px;
$line-height-base: 24px;
$line-height27: 27px;
$line-height30: 30px;
$font-weight-base: 400;
$text-color-base: #283645;
$text-color-red: #d22856;
$promo-text-color: #ffffff;
$color-green: #2aab6d;

//серый цвет для рамок
$color-grey: #e5e5e5;

//белый фон блока
$first-bg: #ffffff;

//серый фон блока
$second-bg: #f2f2f2;

//рамка в блоках формы
$form-grey-border: 2px solid #e5e5e5;


@mixin clearfix {
  content: " ";
  display: table;
  clear: both;
}

@mixin form-block-title {
  padding: 0 15px;
  text-align: center;
  font-size: $font-size-base;
  line-height: $line-height30;
  text-transform: uppercase;
  color: $text-color-red;
}

//кнопки добавить, отнять в форме

@mixin remove-before {
  content: " ";
  position: absolute;
  width: 27px;
  height: 3px;
  background-color: $text-color-base;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin add-before {
  content: " ";
  position: absolute;
  width: 27px;
  height: 3px;
  background-color: $text-color-base;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin add-after {
  content: " ";
  position: absolute;
  width: 27px;
  height: 3px;
  background-color: $text-color-base;
  top: 50%;
  left: 50%;
  transform: rotate(90deg) translate(-2px, 13px);
}
