$font-family-base: Open Sans, Arial, san-serif;
$font-size-base: 14px;
$line-height-base: 24px;
$font-weight-base: 400;
$text-color-base: #283645;
$promo-text-color: #ffffff;
//белый фон блока
$first-bg: #ffffff;

//серый фон блока
$second-bg: #f2f2f2;

//другой цвет
